.feedbacks__item {
    box-shadow: 1px 2px 4px 0px rgba(149, 147, 147, 0.33);
    padding: 5px 43px 0 126px;
    position: relative;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .feedbacks__item {
        text-align: center;
        padding: 88px 30px 0 30px;
    }
}