.feedbacks__client {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -69px;
    margin-left: 9px;
}

@media screen and (max-width: 991px) {
    .feedbacks__client {
        margin-left: 9px;
    }
}

@media screen and (max-width: 767px) {
    .feedbacks__client {
        left: 50%;
        top: 0%;
        margin-top: 9px;
        margin-left: -69px;
    }
}