.feedbacks__a {
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    color: #23aae2;
    float: left;
}

@media screen and (max-width: 767px) {
    .feedbacks__a {
        float: none;
    }
}