.round li {
    float: left;
    width: 17px;
    height: 17px;
    border: 1px dashed #23aae2;
    border-radius: 50%;
    list-style: none;
    margin-right: 10px;
}

li.slick-active {
    background: #23aae2;
}

.round button {
    display: none;
}