.moving__item {
    list-style: none;
    padding : 0 85px 0 85px;
    margin-bottom: 25px;
}

@media screen and (max-width: 1199px) {
    .moving__item {
        padding: 0px 5px 25px 5px;
    }
}

@media screen and (max-width: 767px) {
    .moving__item img {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .moving__item img {
        width: 100%;
    }
}