.advantages__item {
    background: #f4f4f4;
    position: relative;
    height: 370px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px 0px rgba(149, 147, 147, 0.33);
    transition: all 0.3s ease;
    margin-bottom: 100px;
}

.advantages__item:hover {
    box-shadow: 1px 2px 14px 0px rgba(149, 147, 147, 0.33) inset;
}

@media screen and (max-width: 991px) {
    .advantages__item {
        margin-bottom: 25px;
    }
}