.phone {
    float: right;
    width: 200px;
    color: #fff;
    font-size: 1.067rem;
    line-height: 21px;
    font-weight: 900;
    margin-top: 17px;
    background: url(../../img/tel.png) no-repeat left center;
}